.gitignore
.gradle/
.idea/
api-diff-core/build/
classes-model/.gradle/
classes-model/build/
test-resources/parseCases/build/
api-diff-core/out/
classes-model/.idea/
classes-model/classes-model.iml
test-resources/baseClasses/build/
test-resources/build/
test-resources/parseCases/out/
log.bat
jar-api-diff.iml
test-resources/baseClasses/out/
